<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>角色管理界面</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
    <div class="box">
        <h2 class="title">角色管理界面</h2>
        <div class="content">
            <div class="section1">
            </div>
            <div class="section2">
            	<h4></h4>
                <table width="90%" boder="0" cellspacing="0" cellpadding="0" class="section2_table" id="section2_table">
                    <tr class="th">
                        <td width="6%">用户名</td>
                        <td width="6%">角色</td>
                        <td width="20%">更改角色</td>
                        <td width="10%">操作</td>
                    </tr>
                    <tr>
                        <td>袁佳</td>
                        <td>管理员</td>
                        <td>
                            <input type="radio" name="radio1" value="用户" />用户
                            <input type="radio" name="radio1" value="管理员" />管理员
                            <input type="radio" name="radio1" value="超级管理员" />超级管理员
                        </td>
                        <td>
                            <input type="button" name="" value="确定"/>
                            <input type="button" name="" value="取消"/>
                        </td>
                    </tr>
                    <tr>
                        <td>袁佳</td>
                        <td>超级管理员</td>
                        <td>
                            <input type="radio" name="radio2" value="用户" />用户
                            <input type="radio" name="radio2" value="管理员" />管理员
                            <input type="radio" name="radio2" value="超级管理员" />超级管理员
                        </td>
                        <td>
                            <input type="button" name="" value="确定"/>
                            <input type="button" name="" value="取消"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>