<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>邮件主页面</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <style type="text/css">
    .content{
    	width: 300px;height: 200px;
    	line-height: 30px;clear: both;
    	margin-left:60px; 
    	padding-top: 12px;
    }
    .content a:hover{
    	border-bottom: 1px solid #8b3a80;
    	color: #8b3a80;
    }
    </style>
</head>

<body class="big_box">
        <div class="box">
        	<h1><span id="time">上午好</span>，name</h1>
        	<div class="content">
        		<img src="/img/email.png" width="30px" height="30px" />&nbsp;&nbsp;
        		<a href="read.html">未读邮箱（0）</a>
        	</div>
        </div>
    <script type="text/javascript">
    	var time = document.getElementById('time');
    	var myDate = new Date();
    	 var hours = myDate.getHours();

    	 if(hours &lt;= 12 &amp;&amp; hours &gt;= 0){
    	 	time.innerHTML = "上午好";
    	 }else{
    	 	time.innerHTML = "下午好";
    	 }
    </script>
</body>

</html>