<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cqgcxy.mapper.UserPermissionsMapper">
  <resultMap id="BaseResultMap" type="edu.cqgcxy.model.UserPermissions">
    <id column="userPerID" jdbcType="INTEGER" property="userperid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="permissions_id" jdbcType="INTEGER" property="permissionsId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userPerID, userid, permissions_id
  </sql>
  <select id="selectByExample" parameterType="edu.cqgcxy.model.UserPermissionsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_permissions
    where userPerID = #{userperid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_permissions
    where userPerID = #{userperid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.cqgcxy.model.UserPermissionsExample">
    delete from user_permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.cqgcxy.model.UserPermissions">
    insert into user_permissions (userPerID, userid, permissions_id
      )
    values (#{userperid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{permissionsId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.cqgcxy.model.UserPermissions">
    insert into user_permissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userperid != null">
        userPerID,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="permissionsId != null">
        permissions_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userperid != null">
        #{userperid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="permissionsId != null">
        #{permissionsId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.cqgcxy.model.UserPermissionsExample" resultType="java.lang.Long">
    select count(*) from user_permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_permissions
    <set>
      <if test="record.userperid != null">
        userPerID = #{record.userperid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.permissionsId != null">
        permissions_id = #{record.permissionsId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_permissions
    set userPerID = #{record.userperid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      permissions_id = #{record.permissionsId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.cqgcxy.model.UserPermissions">
    update user_permissions
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="permissionsId != null">
        permissions_id = #{permissionsId,jdbcType=INTEGER},
      </if>
    </set>
    where userPerID = #{userperid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.cqgcxy.model.UserPermissions">
    update user_permissions
    set userid = #{userid,jdbcType=INTEGER},
      permissions_id = #{permissionsId,jdbcType=INTEGER}
    where userPerID = #{userperid,jdbcType=INTEGER}
  </update>
</mapper>